<!DOCTYPE html>
<html>

<head>
    <title>Lista de Productos</title>
</head>

<body>
    <h1>Lista de Productos</h1>

    <ul>
        {{#each products}}
        <li>
            <h2>{{title}}</h2>
            <p>Descripci칩n: {{description}}</p>
            <p>Precio: ${{price}}</p>
            <button onclick="addToCart('{{_id}}')">Agregar al carrito</button>
        </li>
        {{/each}}
    </ul>

    <div>
        {{#if prevLink}}
        <a href="{{prevLink}}">P치gina anterior</a>
        {{/if}}

        {{#if nextLink}}
        <a href="{{nextLink}}">P치gina siguiente</a>
        {{/if}}
    </div>

    <script>
        function addToCart(productId) {
            // L칩gica para agregar el producto al carrito
            console.log('Agregado al carrito:', productId);
        }
    </script>
</body>

</html>